@import url(lib/normalize-2.1.3.css);
/* line 7, sass/main.scss */
body {
  background: white;
}
/* line 9, sass/main.scss */
body a {
  color: black;
}
/* line 12, sass/main.scss */
body a:hover {
  color: #cccccc;
}
